@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --background: #141414;
    --foreground: #ededed;
    --color-textPrimary: #8b5cf6;
    --color-secondary: #a8cf1b;
    --color-border: #5b21b6;
  }
}

/* Light theme */
html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --color-textPrimary: #ee6312;
  --color-secondary: #a8cf1b;
  --color-border: #4548ff;
}

/* --blue1: #2e31db; */
/* --blue2: #4548ff; */

/* violet-500 #8b5cf6  */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #111;
}
