@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --background: #111111;
    --foreground: #ededed;
    --color-primary: #5b21b6;
    --color-secondary: #a8cf1b;
    --color-border: #5b21b6;
  }
}

/* Light theme */
html[data-theme="light"] {
  --background: #d5d5fd;
  --foreground: #171717;
  --color-primary: #6d3bbd;
  --color-secondary: #a8cf1b;
  --color-border: #b65d21;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #111;
}
